.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"ce7c2fc5.bbfd68","type":"Gravity Subscriber","z":"1bd17114.208f7f","name":"Gravity","server":"8d2d215.047b26","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":110,"y":1180,"wires":[["5e997637.8b4f58","fcaf454e.703438"]]},{"id":"f899a01d.1d8258","type":"debug","z":"1bd17114.208f7f","name":"Debug HTTP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1220,"wires":[]},{"id":"950ff7.f5988808","type":"http request","z":"1bd17114.208f7f","name":"Message API POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://message-api/message-api/notification","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":1380,"wires":[["f899a01d.1d8258"]]},{"id":"5e997637.8b4f58","type":"debug","z":"1bd17114.208f7f","name":"Debug NATS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1120,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"eq","v":"DeliveryPoolDelete","vt":"str"},{"t":"eq","v":"DeliveryPoolUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":1380,"wires":[["10915f53.5494e1"],[],[]]},{"id":"205d0e4c.77c1ba","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1220,"wires":[]},{"id":"10915f53.5494e1","type":"function","z":"1bd17114.208f7f","name":"Create Data Formatter","func":"\n\nmsg.payload = {\n    \"priority\": msg.payload.message.Priority,\n    \"expireTime\": \"202205011020\",\n    \"msgType\": msg.payload.message.MsgType,\n    \"reqDepartment\": msg.payload.message.DepID,\n    \"reqBu\": msg.payload.message.Bu,\n    \"reqCompany\": msg.payload.message.Company,\n    \"reqChannel\": msg.payload.message.Channel,\n    \"reqObjectId\": msg.payload.message.ObjectID,\n    \"memo\": msg.payload.message.Memo,\n    \"content\": msg.payload.message.MsgData,\n    \"data\": [ {\n        \"customerPhone\": msg.payload.message.MPhoneNum,\n        \"customerId\": msg.payload.message.SenderID,\n        \"customerReference\": msg.payload.message.Reference,\n        \"reqGroupId\": msg.payload.message.GroupID,\n        }\n    ]\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1380,"wires":[["205d0e4c.77c1ba","950ff7.f5988808"]]}]