.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"3fc67bb7.c65944","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a2178b87.7d7a9","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"bbfa5c7.d0b342","type":"MSSQL-CN","name":"Target MSSQL Database","server":"target-mssql1.gravity-demo.svc.cluster.local","encyption":true,"database":"Brobridge2"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"abac013f.90f118","type":"MSSQL-CN","name":"Source MSSQL","server":"source-mssql1.gravity-demo.svc.cluster.local","encyption":true,"database":"Brobridge"},{"id":"ce7c2fc5.bbfd68","type":"Gravity Subscriber","z":"1bd17114.208f7f","name":"Gravity1 Source Event","server":"6d06e8a0.db70f","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":140,"y":1140,"wires":[["5e997637.8b4f58","fcaf454e.703438"]]},{"id":"f899a01d.1d8258","type":"debug","z":"1bd17114.208f7f","name":"Debug HTTP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1780,"wires":[]},{"id":"950ff7.f5988808","type":"http request","z":"1bd17114.208f7f","name":"Message API POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://message-api.gfactor.svc.cluster.local/message-api/v1/notification","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1560,"wires":[["f899a01d.1d8258","206a78b0.d9321"]]},{"id":"5e997637.8b4f58","type":"debug","z":"1bd17114.208f7f","name":"Debug NATS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":1020,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"eq","v":"DeliveryPoolDelete","vt":"str"},{"t":"eq","v":"DeliveryPoolUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":1240,"wires":[["10915f53.5494e1"],[],[]]},{"id":"205d0e4c.77c1ba","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":940,"wires":[]},{"id":"10915f53.5494e1","type":"function","z":"1bd17114.208f7f","name":"Create Data Formatter","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTime = msg.payload.message.ExpireTime\nt1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\n\nNewExpireTime = year + month + day + hour + minute + second\n\nNewPayload = {\n    \"priority\": msg.payload.message.Priority,\n    \"expireTime\": NewExpireTime,\n    \"msgType\": msg.payload.message.MsgType,\n    \"reqDepartment\": msg.payload.message.DepID,\n    \"reqBu\": msg.payload.message.Bu,\n    \"reqCompany\": msg.payload.message.Company,\n    \"reqChannel\": msg.payload.message.Channel,\n    \"reqObjectId\": msg.payload.message.ObjectID,\n    \"memo\": msg.payload.message.Memo,\n    \"content\": msg.payload.message.MsgData,\n    \"data\": [ {\n        \"customerPhone\": msg.payload.message.MPhoneNum,\n        \"customerId\": msg.payload.message.SenderID,\n        \"customerReference\": msg.payload.message.Reference,\n        \"reqGroupId\": msg.payload.message.GroupID,\n        }\n    ]\n}\n\n\nmsg.deliveryUID = msg.payload.message.UID\nmsg.payload2 = NewPayload\nmsg.retry = 0\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1140,"wires":[["205d0e4c.77c1ba","c1c329e8.0cbb3"]]},{"id":"fc7a311c.a37b88","type":"Gravity Subscriber","z":"3fc67bb7.c65944","name":"Gravity2 Source","server":"8d2d215.047b26","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":160,"y":740,"wires":[["fbb24445.6bca58","5cc04d0b.fdd6d4"]]},{"id":"fbb24445.6bca58","type":"debug","z":"3fc67bb7.c65944","name":"Debug NATS2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":520,"wires":[]},{"id":"998b6718.c755e8","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1010,"y":600,"wires":[["3f6cf3b6.f087e4"]]},{"id":"3f6cf3b6.f087e4","type":"function","z":"3fc67bb7.c65944","name":"Insert Data","func":"\n\nmsg.payload = \"INSERT INTO [dbo].[send_record](customer_phone,content) values('12345678','content')\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":600,"wires":[["93f44561.f99ec8"]]},{"id":"6fed29fb.d96088","type":"function","z":"3fc67bb7.c65944","name":"Select Data","func":"\n\nmsg.payload = \"SELECT * from [dbo].[send_record]\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":500,"wires":[["93f44561.f99ec8"]]},{"id":"2c6ecbb3.537d8c","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":690,"y":1140,"wires":[["f828630.00aafa"]]},{"id":"5cc04d0b.fdd6d4","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"DB Aggregate","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTime = msg.payload.message.ExpireTime\nt1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\n\nNewExpireTime = year + month + day + hour + minute + second\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n// send_record table\n\n\nsend_record_calc_section = Math.ceil(content.length / 70)\n\n\n\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n\nrandomID = Math.round(Math.random())\n\n","x":600,"y":740,"wires":[["eeb90633.aa994"]]},{"id":"e9212293.965328","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL for failure #1","query":"","outField":"payload","x":1390,"y":1000,"wires":[["bd7cfb02.213b1"]]},{"id":"9136f0f6.bca0c","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":810,"y":2080,"wires":[["eb923fae.e2191"]]},{"id":"1ad7bc7c.be29c4","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Result Delivery Log","field":"sql","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n\n\n// ------------------------\n// 產生記錄\n// ------------------------\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    {\n        DeliveryPoolUID: msg.deliveryUID,\n        Status: 0,\n    }\n    \n).into(TABLE_NAME)\n","x":1140,"y":1600,"wires":[["248701aa.4ef686"]]},{"id":"206a78b0.d9321","type":"switch","z":"1bd17114.208f7f","name":"Check API Response","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1560,"wires":[["4f24e51b.ad8ed4"],["fc89b0f9.9ef8a8"]]},{"id":"f828630.00aafa","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"MSSQL Builder","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"uid\").from(\"send_record\")\n","x":960,"y":1140,"wires":[["4f05088f.9ea09"]]},{"id":"93f44561.f99ec8","type":"MSSQL","z":"3fc67bb7.c65944","mssqlCN":"bbfa5c7.d0b342","name":"Target MSSQL","query":"","outField":"payload","x":1620,"y":740,"wires":[["45b6e2c2.012a04"]]},{"id":"3316cc30.3916cc","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1010,"y":500,"wires":[["6fed29fb.d96088"]]},{"id":"4f05088f.9ea09","type":"function","z":"3fc67bb7.c65944","name":"DB TRANSACTION","func":"\n\n// msg.payload = \"BEGIN TRANSACTION;\\n\\n\" + msg.payload + \"COMMIT TRANSACTION\"\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1140,"wires":[["18f7dc66.95621c","93f44561.f99ec8"]]},{"id":"18f7dc66.95621c","type":"debug","z":"3fc67bb7.c65944","name":"DB TRANSACTION DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":1140,"wires":[]},{"id":"eeb90633.aa994","type":"function","z":"3fc67bb7.c65944","name":"DB TRANSACTION","func":"\n\nmsg.payload = \"BEGIN TRANSACTION\\n\" + msg.payload + \"COMMIT TRANSACTION\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":740,"wires":[["93f44561.f99ec8"]]},{"id":"eb923fae.e2191","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Query DeliveryResultLog Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"DeliveryResultLog\")\n","x":1090,"y":2080,"wires":[["9955dc7a.4d45"]]},{"id":"45b6e2c2.012a04","type":"debug","z":"3fc67bb7.c65944","name":"DB TRANSACTION DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1000,"wires":[]},{"id":"bd7cfb02.213b1","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Fail #1 Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":920,"wires":[]},{"id":"46993ce1.f7fa3c","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Query HandleDeliveryPool Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"HandleDeliveryPool\")\n","x":1090,"y":2160,"wires":[["9955dc7a.4d45"]]},{"id":"722c1cff.3940b4","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":810,"y":2160,"wires":[["46993ce1.f7fa3c"]]},{"id":"f07c0e4f.2f15f","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Unhandle Delivery","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n//\n// =====================================================\n\n\n// ------------------------\n// 產生再次處理的資訊\n// ------------------------\n\nTABLE_NAME = 'HandleDeliveryPool'\n\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID } ).into(TABLE_NAME)\n\n\n","x":1020,"y":1000,"wires":[["e9212293.965328"]]},{"id":"248701aa.4ef686","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL For Success","query":"","outField":"payload","x":1530,"y":1600,"wires":[["73a6688c.6200a"]]},{"id":"9955dc7a.4d45","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL","query":"","outField":"payload","x":1410,"y":2080,"wires":[["37b6f3c5.3301fc"]]},{"id":"37b6f3c5.3301fc","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1730,"y":1980,"wires":[]},{"id":"73a6688c.6200a","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":1600,"wires":[]},{"id":"e4c78794.60b02","type":"http request","z":"a2178b87.7d7a9","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://google.com/xxx","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":700,"wires":[["fbab5c4c.b2f808"]]},{"id":"16e230dd.1abc77","type":"inject","z":"a2178b87.7d7a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":700,"wires":[["4c86cd88.001554"]]},{"id":"af02c4bd.3d0698","type":"debug","z":"a2178b87.7d7a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":1140,"wires":[]},{"id":"4c86cd88.001554","type":"function","z":"a2178b87.7d7a9","name":"create data","func":"msg.payload = { 'xx': Date().toString() }\nmsg.retry = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":700,"wires":[["e4c78794.60b02"]]},{"id":"cba5ee67.f436a8","type":"counter-loop","z":"a2178b87.7d7a9","name":"For loop","counter":"retry","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"gt","termination":"3","terminationType":"num","increment":1,"incrementType":"num","x":1200,"y":840,"wires":[["77524b77.59eb2c"],[]]},{"id":"77524b77.59eb2c","type":"http request","z":"a2178b87.7d7a9","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://google.com","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":1120,"wires":[["af02c4bd.3d0698","cba5ee67.f436a8"]]},{"id":"fbab5c4c.b2f808","type":"switch","z":"a2178b87.7d7a9","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":700,"wires":[["cba5ee67.f436a8"]]},{"id":"c1c329e8.0cbb3","type":"counter-loop","z":"1bd17114.208f7f","name":"For loop","counter":"retry","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"3","terminationType":"num","increment":1,"incrementType":"num","x":940,"y":1140,"wires":[["f07c0e4f.2f15f"],["97c7cd51.742fb"]]},{"id":"fc89b0f9.9ef8a8","type":"function","z":"1bd17114.208f7f","name":"Create Data Formatter","func":"msg.payload = msg.payload2\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1420,"wires":[["c1c329e8.0cbb3"]]},{"id":"97c7cd51.742fb","type":"function","z":"1bd17114.208f7f","name":"Create Data Formatter","func":"msg.payload = msg.payload2\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1560,"wires":[["950ff7.f5988808","5ab3489f.ec68d8"]]},{"id":"4f24e51b.ad8ed4","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.retry = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1520,"wires":[["1ad7bc7c.be29c4"]]},{"id":"5ab3489f.ec68d8","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":1720,"wires":[]}]