.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"3fc67bb7.c65944","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a2178b87.7d7a9","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"bbfa5c7.d0b342","type":"MSSQL-CN","name":"Target MSSQL Database","server":"target-mssql1.gravity-demo.svc.cluster.local","encyption":true,"database":"Brobridge2"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"abac013f.90f118","type":"MSSQL-CN","name":"Source MSSQL","server":"source-mssql1.gravity-demo.svc.cluster.local","encyption":true,"database":"Brobridge"},{"id":"ce7c2fc5.bbfd68","type":"Gravity Subscriber","z":"1bd17114.208f7f","name":"Gravity1 Source Event","server":"6d06e8a0.db70f","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":140,"y":1140,"wires":[["5e997637.8b4f58","fcaf454e.703438"]]},{"id":"f899a01d.1d8258","type":"debug","z":"1bd17114.208f7f","name":"Debug HTTP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1020,"wires":[]},{"id":"950ff7.f5988808","type":"http request","z":"1bd17114.208f7f","name":"Message API POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://message-api.gfactor.svc.cluster.local/message-api/v1/notificationX","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":1140,"wires":[["f899a01d.1d8258","e4743865.e6c888"]]},{"id":"5e997637.8b4f58","type":"debug","z":"1bd17114.208f7f","name":"Debug NATS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":1020,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"eq","v":"DeliveryPoolDelete","vt":"str"},{"t":"eq","v":"DeliveryPoolUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":1140,"wires":[["10915f53.5494e1"],[],[]]},{"id":"205d0e4c.77c1ba","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":1020,"wires":[]},{"id":"10915f53.5494e1","type":"function","z":"1bd17114.208f7f","name":"Create Data Formatter","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTime = msg.payload.message.ExpireTime\nt1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\n\nNewExpireTime = year + month + day + hour + minute + second\n\nNewPayload = {\n    \"priority\": msg.payload.message.Priority,\n    \"expireTime\": NewExpireTime,\n    \"msgType\": msg.payload.message.MsgType,\n    \"reqDepartment\": msg.payload.message.DepID,\n    \"reqBu\": msg.payload.message.Bu,\n    \"reqCompany\": msg.payload.message.Company,\n    \"reqChannel\": msg.payload.message.Channel,\n    \"reqObjectId\": msg.payload.message.ObjectID,\n    \"memo\": msg.payload.message.Memo,\n    \"content\": msg.payload.message.MsgData,\n    \"data\": [ {\n        \"customerPhone\": msg.payload.message.MPhoneNum,\n        \"customerId\": msg.payload.message.SenderID,\n        \"customerReference\": msg.payload.message.Reference,\n        \"reqGroupId\": msg.payload.message.GroupID,\n        }\n    ]\n}\n\n\nmsg.retry_times = 0\n\nmsg.deliveryUID = msg.payload.message.UID\nmsg.payload = NewPayload\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1140,"wires":[["205d0e4c.77c1ba","950ff7.f5988808"]]},{"id":"7afdcc2d.d44c6c","type":"catch","z":"1bd17114.208f7f","name":"","scope":[],"uncaught":false,"x":370,"y":1260,"wires":[["9e5d3e4f.81a16"]]},{"id":"9e5d3e4f.81a16","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1260,"wires":[[]]},{"id":"e4743865.e6c888","type":"function","z":"1bd17114.208f7f","name":"Check Result","func":"\nwhile(msg.retry_times < 2){\n\n  if (msg.statusCode != 200) {\n      msg.retry_times++;\n      node.error(\"Message API Post Fail\", msg);\n      return msg\n   }\n\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1140,"wires":[["206a78b0.d9321"]]},{"id":"fc7a311c.a37b88","type":"Gravity Subscriber","z":"3fc67bb7.c65944","name":"Gravity2 Source","server":"8d2d215.047b26","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":160,"y":740,"wires":[["fbb24445.6bca58","5cc04d0b.fdd6d4"]]},{"id":"fbb24445.6bca58","type":"debug","z":"3fc67bb7.c65944","name":"Debug NATS2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":520,"wires":[]},{"id":"998b6718.c755e8","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1010,"y":600,"wires":[["3f6cf3b6.f087e4"]]},{"id":"3f6cf3b6.f087e4","type":"function","z":"3fc67bb7.c65944","name":"Insert Data","func":"\n\nmsg.payload = \"INSERT INTO [dbo].[send_record](customer_phone,content) values('12345678','content')\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":600,"wires":[["93f44561.f99ec8"]]},{"id":"6fed29fb.d96088","type":"function","z":"3fc67bb7.c65944","name":"Select Data","func":"\n\nmsg.payload = \"SELECT * from [dbo].[send_record]\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":500,"wires":[["93f44561.f99ec8"]]},{"id":"2c6ecbb3.537d8c","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":690,"y":1140,"wires":[["f828630.00aafa"]]},{"id":"5cc04d0b.fdd6d4","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"DB Aggregate","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTime = msg.payload.message.ExpireTime\nt1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\n\nNewExpireTime = year + month + day + hour + minute + second\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n// send_record table\n\n\nsend_record_calc_section = Math.ceil(content.length / 70)\n\n\n\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n\nrandomID = Math.round(Math.random())\n\n","x":600,"y":740,"wires":[["eeb90633.aa994"]]},{"id":"e9212293.965328","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL","query":"","outField":"payload","x":2210,"y":1140,"wires":[["bd7cfb02.213b1"]]},{"id":"9136f0f6.bca0c","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1670,"y":1420,"wires":[["eb923fae.e2191"]]},{"id":"1ad7bc7c.be29c4","type":"sqlbuilder","z":"1bd17114.208f7f","name":"SQL Data Formatter For Success","field":"sql","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n// Table: DeliveryResultLog，傳送記錄\n//\n\n\n// ------------------------\n// 產生記錄\n// ------------------------\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    {\n        DeliveryPoolUID: msg.deliveryUID,\n        Status: 0,\n    }\n    \n).into(TABLE_NAME)\n","x":1800,"y":1060,"wires":[["248701aa.4ef686"]]},{"id":"206a78b0.d9321","type":"switch","z":"1bd17114.208f7f","name":"Check API Response","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":1140,"wires":[["1ad7bc7c.be29c4"],["f07c0e4f.2f15f","cd0cce97.dd204"]]},{"id":"cd0cce97.dd204","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Result Delivery Log","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n// Table: DeliveryResultLog, 記錄傳送簡訊記錄\n//\n// =====================================================\n\n\n// =====================================================\n\n\n// ------------------------\n// 產生記錄\n// ------------------------\n\nTABLE_NAME = 'DeliveryResultLog'\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID, Status: 1 }).into(TABLE_NAME)\n","x":1780,"y":1200,"wires":[["c292c3b.6d081c"]]},{"id":"f828630.00aafa","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"MSSQL Builder","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"uid\").from(\"send_record\")\n","x":960,"y":1140,"wires":[["4f05088f.9ea09"]]},{"id":"93f44561.f99ec8","type":"MSSQL","z":"3fc67bb7.c65944","mssqlCN":"bbfa5c7.d0b342","name":"Target MSSQL","query":"","outField":"payload","x":1620,"y":740,"wires":[["45b6e2c2.012a04"]]},{"id":"3316cc30.3916cc","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1010,"y":500,"wires":[["6fed29fb.d96088"]]},{"id":"4f05088f.9ea09","type":"function","z":"3fc67bb7.c65944","name":"DB TRANSACTION","func":"\n\n// msg.payload = \"BEGIN TRANSACTION;\\n\\n\" + msg.payload + \"COMMIT TRANSACTION\"\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1140,"wires":[["18f7dc66.95621c","93f44561.f99ec8"]]},{"id":"18f7dc66.95621c","type":"debug","z":"3fc67bb7.c65944","name":"DB TRANSACTION DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":1140,"wires":[]},{"id":"eeb90633.aa994","type":"function","z":"3fc67bb7.c65944","name":"DB TRANSACTION","func":"\n\nmsg.payload = \"BEGIN TRANSACTION\\n\" + msg.payload + \"COMMIT TRANSACTION\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":740,"wires":[["93f44561.f99ec8"]]},{"id":"eb923fae.e2191","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Query DeliveryResultLog Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"DeliveryResultLog\")\n","x":1950,"y":1420,"wires":[["9955dc7a.4d45"]]},{"id":"45b6e2c2.012a04","type":"debug","z":"3fc67bb7.c65944","name":"DB TRANSACTION DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1000,"wires":[]},{"id":"bd7cfb02.213b1","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":1060,"wires":[]},{"id":"46993ce1.f7fa3c","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Query HandleDeliveryPool Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"HandleDeliveryPool\")\n","x":1950,"y":1500,"wires":[["9955dc7a.4d45"]]},{"id":"722c1cff.3940b4","type":"inject","z":"1bd17114.208f7f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1670,"y":1500,"wires":[["46993ce1.f7fa3c"]]},{"id":"f07c0e4f.2f15f","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Unhandle Delivery","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n//\n// =====================================================\n\n\n// ------------------------\n// 產生再次處理的資訊\n// ------------------------\n\nTABLE_NAME = 'HandleDeliveryPool'\n\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID } ).into(TABLE_NAME)\n\n\n","x":1780,"y":1140,"wires":[["e9212293.965328"]]},{"id":"248701aa.4ef686","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL","query":"","outField":"payload","x":2170,"y":1060,"wires":[[]]},{"id":"c292c3b.6d081c","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL","query":"","outField":"payload","x":2210,"y":1200,"wires":[[]]},{"id":"9955dc7a.4d45","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source1 MSSQL","query":"","outField":"payload","x":2270,"y":1420,"wires":[["37b6f3c5.3301fc"]]},{"id":"37b6f3c5.3301fc","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":1320,"wires":[]}]