flows.json
[{"id":"1bd17114.208f7f","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"3fc67bb7.c65944","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a2178b87.7d7a9","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"bbfa5c7.d0b342","type":"MSSQL-CN","name":"Target MSSQL Database","server":"target-mssql1.gravity-demo.svc.cluster.local","encyption":true,"database":"Brobridge2"},{"id":"abac013f.90f118","type":"MSSQL-CN","name":"Source MSSQL","server":"source-mssql1.gravity-demo.svc.cluster.local","encyption":false,"database":"Brobridge"},{"id":"ce7c2fc5.bbfd68","type":"Gravity Subscriber","z":"1bd17114.208f7f","name":"Gravity1 Source Event","server":"6d06e8a0.db70f","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":160,"y":1080,"wires":[["5e997637.8b4f58","fcaf454e.703438"]]},{"id":"f899a01d.1d8258","type":"debug","z":"1bd17114.208f7f","name":"Debug HTTP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1720,"wires":[]},{"id":"950ff7.f5988808","type":"http request","z":"1bd17114.208f7f","name":"Message API POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://message-api.gfactor.svc.cluster.localX/message-api/v1/notificationx","tls":"","persist":true,"proxy":"","authType":"","x":830,"y":1500,"wires":[["f899a01d.1d8258","206a78b0.d9321"]]},{"id":"5e997637.8b4f58","type":"debug","z":"1bd17114.208f7f","name":"Debug NATS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":820,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"eq","v":"DeliveryPoolDelete","vt":"str"},{"t":"eq","v":"DeliveryPoolUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":1200,"wires":[["10915f53.5494e1"],[],[]]},{"id":"205d0e4c.77c1ba","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":820,"wires":[]},{"id":"10915f53.5494e1","type":"function","z":"1bd17114.208f7f","name":"Create Full API Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nmsg.expired=0\n\nBookingTime=new Date(msg.payload.message.BookingTime)\n\nif (msg.payload.message.ExpireTime == null || \n    msg.payload.message.ExpireTime <= 0)  {\n    NewExpireTime = null\n   } \n\nelse {\n    CurrentTime = new Date()\n    ExpireTime = msg.payload.message.ExpireTime\n    t1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\n\n    if (CurrentTime > ExpireTime) {\n        msg.expired=1\n    }\n\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    NewExpireTime = year + month + day + hour + minute + second\n}\n\n\nNewPayload = {\n    \"priority\": msg.payload.message.Priority || 9,\n    \"expireTime\": NewExpireTime,\n    \"msgType\": msg.payload.message.MsgType || null,\n    \"reqDepartment\": msg.payload.message.DepID || null,\n    \"reqBu\": msg.payload.message.Bu || null,\n    \"reqCompany\": msg.payload.message.Company || null,\n    \"reqChannel\": msg.payload.message.Channel || null,\n    \"reqObjectId\": msg.payload.message.ObjectID || null,\n    \"memo\": msg.payload.message.Memo || null,\n    \"content\": msg.payload.message.MsgData,\n    \"data\": [ {\n        \"customerPhone\": msg.payload.message.MPhoneNum,\n        \"customerId\": msg.payload.message.SenderID ,\n        \"customerReference\": msg.payload.message.Reference || null,\n        \"reqGroupId\": msg.payload.message.GroupID || null,\n        }\n    ]\n}\n\n\nmsg.deliveryUID = msg.payload.message.UID\nmsg.payload2 = NewPayload\nmsg.retry = 0\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1000,"wires":[["205d0e4c.77c1ba","701a891f.13c298"]]},{"id":"fc7a311c.a37b88","type":"Gravity Subscriber","z":"3fc67bb7.c65944","name":"Gravity2 Source","server":"8d2d215.047b26","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":[],"x":160,"y":740,"wires":[["fbb24445.6bca58","5cc04d0b.fdd6d4"]]},{"id":"fbb24445.6bca58","type":"debug","z":"3fc67bb7.c65944","name":"Debug Gravity2 NATS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":520,"wires":[]},{"id":"998b6718.c755e8","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":970,"y":1020,"wires":[["3f6cf3b6.f087e4"]]},{"id":"3f6cf3b6.f087e4","type":"function","z":"3fc67bb7.c65944","name":"Insert Data","func":"\n\nmsg.payload = \"INSERT INTO [dbo].[send_record](customer_phone,content) values('12345678','content')\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1020,"wires":[[]]},{"id":"6fed29fb.d96088","type":"function","z":"3fc67bb7.c65944","name":"Select Data","func":"\n\nmsg.payload = \"SELECT * from [dbo].[send_record]\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":500,"wires":[[]]},{"id":"5cc04d0b.fdd6d4","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"Compose Event Data","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTime = msg.payload.message.ExpireTime\nt1 = new Date(BookingTime.getTime() +  ExpireTime * 1000)\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\n\nNewExpireTime = year + month + day + hour + minute + second\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n// send_record table\n\n\nsend_record_calc_section = Math.ceil(content.length / 70)\n\n\n\n\nquery.insert(\n    {\n        customer_phone: msg.payload.message.MPhoneNum,\n        content: msg.payload.message.MsgData,\n        send_time: BookingTime,\n        expire_time: NewExpireTime,\n        customer_id: msg.payload.message.SenderID,\n        customer_reference: msg.payload.message.Reference,\n        calc_section: send_record_calc_section,\n        status:0\n        \n    }\n).into('send_record').returning('uid')\n\n\n\nrandomID = Math.round(Math.random())\n\n","x":620,"y":740,"wires":[["eeb90633.aa994"]]},{"id":"1ad7bc7c.be29c4","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Result Delivery Log","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID, Status: 0 }\n).into(\"DeliveryResultLog\")\n","x":1660,"y":1700,"wires":[["9d2169ca.165e48"]]},{"id":"206a78b0.d9321","type":"switch","z":"1bd17114.208f7f","name":"Check API Response","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1140,"y":1500,"wires":[["4f24e51b.ad8ed4"],["fc89b0f9.9ef8a8"]]},{"id":"3316cc30.3916cc","type":"inject","z":"3fc67bb7.c65944","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":1010,"y":500,"wires":[["6fed29fb.d96088"]]},{"id":"eeb90633.aa994","type":"function","z":"3fc67bb7.c65944","name":"DB TRANSACTION","func":"\n\nmsg.payload = \"BEGIN TRANSACTION\\n\" + msg.payload + \"COMMIT TRANSACTION\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1160,"wires":[[]]},{"id":"45b6e2c2.012a04","type":"debug","z":"3fc67bb7.c65944","name":"DB TRANSACTION DEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1820,"y":1420,"wires":[]},{"id":"f07c0e4f.2f15f","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update handle Delivery","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n//\n// =====================================================\n\n\n// ------------------------\n// 產生再次處理的資訊\n// ------------------------\n\nTABLE_NAME = 'HandleDeliveryPool'\n\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID } ).into(TABLE_NAME)\n\n\n","x":1550,"y":1040,"wires":[["d57cf86f.f82868"]]},{"id":"e4c78794.60b02","type":"http request","z":"a2178b87.7d7a9","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://google.com/xxx","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":700,"wires":[["fbab5c4c.b2f808"]]},{"id":"16e230dd.1abc77","type":"inject","z":"a2178b87.7d7a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":700,"wires":[["4c86cd88.001554"]]},{"id":"af02c4bd.3d0698","type":"debug","z":"a2178b87.7d7a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":1140,"wires":[]},{"id":"4c86cd88.001554","type":"function","z":"a2178b87.7d7a9","name":"create data","func":"msg.payload = { 'xx': Date().toString() }\nmsg.retry = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":700,"wires":[["e4c78794.60b02"]]},{"id":"cba5ee67.f436a8","type":"counter-loop","z":"a2178b87.7d7a9","name":"For loop","counter":"retry","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"gt","termination":"3","terminationType":"num","increment":1,"incrementType":"num","x":1200,"y":840,"wires":[["77524b77.59eb2c"],[]]},{"id":"77524b77.59eb2c","type":"http request","z":"a2178b87.7d7a9","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://google.com","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":1120,"wires":[["af02c4bd.3d0698","cba5ee67.f436a8"]]},{"id":"fbab5c4c.b2f808","type":"switch","z":"a2178b87.7d7a9","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":700,"wires":[["cba5ee67.f436a8"]]},{"id":"c1c329e8.0cbb3","type":"counter-loop","z":"1bd17114.208f7f","name":"API Request loop","counter":"retry","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lte","termination":"3","terminationType":"num","increment":1,"incrementType":"num","x":1170,"y":1080,"wires":[["f07c0e4f.2f15f","4c213581.fc312c"],["97c7cd51.742fb"]]},{"id":"fc89b0f9.9ef8a8","type":"function","z":"1bd17114.208f7f","name":"Create API PayLoad","func":"msg.payload = msg.payload2\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":1360,"wires":[["c1c329e8.0cbb3"]]},{"id":"97c7cd51.742fb","type":"function","z":"1bd17114.208f7f","name":"Create API PayLoad","func":"msg.payload = msg.payload2\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1500,"wires":[["950ff7.f5988808","5ab3489f.ec68d8"]]},{"id":"4f24e51b.ad8ed4","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.retry = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":1620,"wires":[["1ad7bc7c.be29c4"]]},{"id":"5ab3489f.ec68d8","type":"debug","z":"1bd17114.208f7f","name":"Debug DataFormater","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1720,"wires":[]},{"id":"4c213581.fc312c","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Result Delivery Log","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID, Status: 1 }\n).into(\"DeliveryResultLog\")\n","x":1560,"y":1120,"wires":[["2723c95c.a7b486"]]},{"id":"73a6688c.6200a","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB Err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","statusVal":"","statusType":"auto","x":2700,"y":1180,"wires":[]},{"id":"ff00d57f.42b5c","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":2360,"y":1180,"wires":[["73a6688c.6200a","7f06dd8d.3f46fc"]]},{"id":"d57cf86f.f82868","type":"counter-loop","z":"1bd17114.208f7f","name":"DB Access For loop","counter":"db_fail_retry1","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":1860,"y":1040,"wires":[["fea294d4.20f6e"],["264c93da.95827c"]]},{"id":"2723c95c.a7b486","type":"counter-loop","z":"1bd17114.208f7f","name":"DB Access For loop","counter":"db_fail_retry2","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":1860,"y":1120,"wires":[["fea294d4.20f6e"],["ff00d57f.42b5c"]]},{"id":"9d2169ca.165e48","type":"counter-loop","z":"1bd17114.208f7f","name":"DB Access For loop","counter":"db_success_retry","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":1980,"y":1700,"wires":[["1ba8563b.b6083a"],["b22bccb4.bcb15"]]},{"id":"5704a15e.059f2","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.db_fail_retry2 = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1990,"y":1480,"wires":[[]]},{"id":"7f06dd8d.3f46fc","type":"switch","z":"1bd17114.208f7f","name":"Check DB Update","property":"err","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":1480,"wires":[["2723c95c.a7b486"],["5704a15e.059f2"]]},{"id":"264c93da.95827c","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":2240,"y":900,"wires":[["98a0a6a0.d2787"]]},{"id":"98a0a6a0.d2787","type":"switch","z":"1bd17114.208f7f","name":"Check DB Update","property":"err","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2590,"y":900,"wires":[["fc429c2.4964b6"],["7e7acced.d964c4"]]},{"id":"7e7acced.d964c4","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.db_fail_retry1 = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2830,"y":980,"wires":[[]]},{"id":"1baaa200.689afe","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.db_success_retry = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2590,"y":1960,"wires":[[]]},{"id":"b22bccb4.bcb15","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":2380,"y":1700,"wires":[["6187be3f.b0ad9"]]},{"id":"6187be3f.b0ad9","type":"switch","z":"1bd17114.208f7f","name":"Check DB Update","property":"err","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":1960,"wires":[["6a7435bc.cf2e34"],["1baaa200.689afe"]]},{"id":"1ba8563b.b6083a","type":"function","z":"1bd17114.208f7f","name":"Console DB Error Log","func":"node.error(msg.err)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":1540,"wires":[[]]},{"id":"fea294d4.20f6e","type":"function","z":"1bd17114.208f7f","name":"Console DB Error Log","func":"node.error(msg.err)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":1060,"wires":[[]]},{"id":"fc429c2.4964b6","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":840,"wires":[["d57cf86f.f82868"]]},{"id":"6a7435bc.cf2e34","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":1900,"wires":[["9d2169ca.165e48"]]},{"id":"8eabc318.d37b4","type":"sqlbuilder","z":"3fc67bb7.c65944","name":"Update Result Delivery Log","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: HandleDeliveryPool, 記錄 API 溝通失敗需要再次處理簡訊\n//\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID, Status: 0 }\n).into(\"DeliveryResultLog\")\n","x":1060,"y":1220,"wires":[["93eec42a.c9901"]]},{"id":"93eec42a.c9901","type":"counter-loop","z":"3fc67bb7.c65944","name":"DB Access For loop","counter":"db_success_retry","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":1480,"y":1220,"wires":[["74947a2d.69233c"],["ee569d2a.4a9938"]]},{"id":"80305577.273e08","type":"function","z":"3fc67bb7.c65944","name":"Reset Loop","func":"msg.db_success_retry = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":1480,"wires":[[]]},{"id":"ee569d2a.4a9938","type":"MSSQL","z":"3fc67bb7.c65944","mssqlCN":"bbfa5c7.d0b342","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":1880,"y":1220,"wires":[["c6c2a4f4.115178"]]},{"id":"c6c2a4f4.115178","type":"switch","z":"3fc67bb7.c65944","name":"Check DB Update","property":"err","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1790,"y":1480,"wires":[["22644e75.6569e2"],["80305577.273e08"]]},{"id":"74947a2d.69233c","type":"function","z":"3fc67bb7.c65944","name":"Console DB Error Log","func":"node.error(msg.err)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1060,"wires":[[]]},{"id":"22644e75.6569e2","type":"delay","z":"3fc67bb7.c65944","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1420,"wires":[["93eec42a.c9901"]]},{"id":"365cfaf.8b8cf06","type":"sqlbuilder","z":"1bd17114.208f7f","name":"Update Result Delivery Log","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"\n// =====================================================\n// 說明\n//\n// Table: DeliveryResultLog, 記錄 API 最後處理的 Log\n//\n\nTABLE_NAME = \"DeliveryResultLog\"\n\nquery.insert(\n    { DeliveryPoolUID: msg.deliveryUID, Status: 2 }\n).into(\"DeliveryResultLog\")\n","x":1200,"y":320,"wires":[["1be26bb0.caab9c"]]},{"id":"be8923c2.81e998","type":"debug","z":"1bd17114.208f7f","name":"Debug Source DB for Expire","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":340,"wires":[]},{"id":"383ebe55.7317b2","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"abac013f.90f118","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":1940,"y":360,"wires":[["be8923c2.81e998","4865234f.4049cc"]]},{"id":"1be26bb0.caab9c","type":"counter-loop","z":"1bd17114.208f7f","name":"DB Access For loop","counter":"db_fail_retry2","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"5","terminationType":"num","increment":1,"incrementType":"num","x":1600,"y":320,"wires":[["c498cf27.baf6e"],["383ebe55.7317b2"]]},{"id":"2b3ac491.03a6f4","type":"function","z":"1bd17114.208f7f","name":"Reset Loop","func":"msg.db_fail_retry2 = null\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":580,"wires":[[]]},{"id":"4865234f.4049cc","type":"switch","z":"1bd17114.208f7f","name":"Check DB Update","property":"err","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":580,"wires":[["1be26bb0.caab9c"],["2b3ac491.03a6f4"]]},{"id":"c498cf27.baf6e","type":"function","z":"1bd17114.208f7f","name":"Console DB Error Log","func":"node.error(msg.err)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":240,"wires":[[]]},{"id":"701a891f.13c298","type":"switch","z":"1bd17114.208f7f","name":"Check Expired","property":"expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":1000,"wires":[["365cfaf.8b8cf06"],["c1c329e8.0cbb3"]]},{"id":"f97acbf3.a801b8","type":"comment","z":"1bd17114.208f7f","name":"Comment","info":"DB Status\n1. Value 0: Success\n2. Value 1: API Access Error\n3. Value 2: Data is Expired","x":160,"y":1720,"wires":[]},{"id":"95a1dcb7.586838","type":"inject","z":"a2178b87.7d7a9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":350,"y":1520,"wires":[["a4b3e191.8e4d3"]]},{"id":"a4b3e191.8e4d3","type":"sqlbuilder","z":"a2178b87.7d7a9","name":"Query DeliveryResultLog Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"DeliveryResultLog\")\n","x":630,"y":1520,"wires":[["7889acb2.e45304"]]},{"id":"5fbd7021.c5ea2","type":"sqlbuilder","z":"a2178b87.7d7a9","name":"Query HandleDeliveryPool Table","field":"payload","fieldType":"msg","sqldialect":"mssql","sqlquery":"query.select(\"*\").from(\"HandleDeliveryPool\")\n","x":630,"y":1600,"wires":[["7889acb2.e45304"]]},{"id":"303194a.d18236c","type":"inject","z":"a2178b87.7d7a9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inject","payloadType":"str","x":350,"y":1600,"wires":[["5fbd7021.c5ea2"]]},{"id":"e11a7961.e683d8","type":"debug","z":"a2178b87.7d7a9","name":"Debug Source DB Err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"err","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":1520,"wires":[]},{"id":"7889acb2.e45304","type":"MSSQL","z":"a2178b87.7d7a9","mssqlCN":"abac013f.90f118","name":"Source MSSQL","outField":"payload","returnType":0,"throwErrors":1,"query":"","modeOpt":"queryMode","modeOptType":"query","queryOpt":"payload","queryOptType":"editor","paramsOpt":"queryParams","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[],"x":1000,"y":1560,"wires":[["e11a7961.e683d8","dde8f1d2.bbfc1"]]},{"id":"dde8f1d2.bbfc1","type":"debug","z":"a2178b87.7d7a9","name":"Debug Source DB Err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":1600,"wires":[]}]