flows.json
[{"id":"1bd17114.208f7f","type":"tab","label":"Gravity DB to API","disabled":false,"info":""},{"id":"a1b2b06d.089da","type":"nats-streaming-server","server":"gravity1-nats","port":"4222","cluster":"external-stan"},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Devel Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1120185.4a64de8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"fb855f75.e6c51","type":"redis-config","name":"local","options":"{   \"port\": 6379,   \"host\": \"redis-cluster\" }","cluster":true,"optionsType":"json"},{"id":"a0efbb89.5e42d8","type":"redis-config","name":"local","options":"{}","cluster":false,"optionsType":"json"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"3bbccc8b.174474","type":"Gravity Server","server":"gravity1-nats.gravity-database.svc.cluster.local","port":"4222"},{"id":"15f3bf7c.30e271","type":"nats-streaming-server","server":"gravity1-nats.gravity-database.svc.cluster.local","port":"4223","cluster":"external-stan"},{"id":"f899a01d.1d8258","type":"debug","z":"1bd17114.208f7f","name":"Call API Response HTTP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":1560,"wires":[]},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1340,"wires":[["76cfcd36.2ae08c"],["118294b.c72fd6b"]]},{"id":"205d0e4c.77c1ba","type":"debug","z":"1bd17114.208f7f","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":940,"wires":[]},{"id":"10915f53.5494e1","type":"function","z":"1bd17114.208f7f","name":"Create Full API Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n} \n\nfunction convert_api_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + month + day + hour + minute + second\n    return v\n} \n\n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\n\nmsg.payload = msg.payload.payload\n\n\nmsg.data_is_expired=0\n\nBookingTime=new Date(msg.payload.BookingTime)\nExpireTimeSec = msg.payload.ExpireTime \n\n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    NewExpireTime = 86400\n   } \n\nt1 = new Date(BookingTime.getTime() +  ExpireTimeSec * 1000)\n\nif (new Date() >= t1) {\n    msg.data_is_expired=1\n}\n\nNewExpireTime =convert_api_datetime(t1)\n\n\nNewPayload = {\n    \n    \"priority\": msg.payload.Priority || 9,\n    \"expireTime\": NewExpireTime,\n    \"msgType\": msg.payload.MsgType || \"\",\n    \"reqDepartment\": msg.payload.DepID || \"\",\n    \"reqBu\": msg.payload.Bu || \"\",\n    \"reqCompany\": msg.payload.Company || \"\",\n    \"reqChannel\": msg.payload.Channel || \"\",\n    \"reqObjectId\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.Memo || \"\",\n    \"content\": msg.payload.MsgData,\n    \"data\": [ {\n        \"customerPhone\": msg.payload.MPhoneNum,\n        \"customerId\": msg.payload.SenderID ,\n        \"customerReference\": msg.payload.Reference || \"\",\n        \"reqGroupId\": msg.payload.GroupID || \"\",\n        }\n    ]\n}\n\nmsg.DeliveryPoolUID = convert_uuid(msg.payload.UID)\nmsg.payload = NewPayload\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":1100,"wires":[["205d0e4c.77c1ba","701a891f.13c298","e71170ec.0127a"]]},{"id":"206a78b0.d9321","type":"switch","z":"1bd17114.208f7f","name":"Check API Response","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"btwn","v":"400","vt":"num","v2":"499","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1700,"y":1900,"wires":[["5a1d672a.d52e78"],["57eb400d.058a98"],["a8e5773b.c5fba8"]]},{"id":"701a891f.13c298","type":"switch","z":"1bd17114.208f7f","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":1100,"wires":[["85f76b59.9f60c8","4e109d76.26f76c","35f19fa6.46a6a"],["9d41a444.8f66c8"]]},{"id":"5e858370.4b4a54","type":"switch","z":"1bd17114.208f7f","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2770,"y":2020,"wires":[["b3769017.156f6"],["f7c597f4.2795b8"]]},{"id":"b3769017.156f6","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2540,"y":2120,"wires":[["eacfb53c.9c8eb"]]},{"id":"c5bf226.1745ae","type":"function","z":"1bd17114.208f7f","name":"Log Write Report DB","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Write SMS Delivery Log to Report DB Success, Delivery UID:\" + msg.DeliveryPoolUID\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Write SMS Delivery Log to Report DB Failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":1820,"wires":[["7cb9964c.de27e8","5e858370.4b4a54"]]},{"id":"a4686f76.2b462","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message) VALUES(@DeliveryPoolUID, 1, 'SMS Message already expired before API access')\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"DeliveryPoolUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1900,"y":1380,"wires":[["e82fa5a.9c179d8"]]},{"id":"df7383cb.9cd5f","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, DeliverySendUID, Status, Message) VALUES(@DeliveryPoolUID, @DeliverySendUID, @ResponseStatus, @ResponseMessage)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"DeliveryPoolUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"SendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ResponseMessage","type":"VarChar(?)","valueType":"msg","value":"ResponseMessage","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ResponseStatus","type":"int","valueType":"msg","value":"ResponseStatus","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2620,"y":1920,"wires":[["c5bf226.1745ae","9ebd2a20.bf725"]]},{"id":"4e109d76.26f76c","type":"loop","z":"1bd17114.208f7f","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":1630,"y":1380,"wires":[[],["a4686f76.2b462"]]},{"id":"eacfb53c.9c8eb","type":"loop","z":"1bd17114.208f7f","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2370,"y":2000,"wires":[[],["df7383cb.9cd5f"]]},{"id":"9d41a444.8f66c8","type":"function","z":"1bd17114.208f7f","name":"Set Post Header","func":"msg.headers = {\n    \"X-API-Key\": \"d6435296.d3df94350fc1955a5be9d7876bd1501c15ce8d05c89f246a5fb7b5076b69a4a7\"\n};\n\nmsg.requestTimeout = 1000 * 15\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1560,"wires":[["7dd61989.93a4a"]]},{"id":"d38c299d.762cf","type":"debug","z":"1bd17114.208f7f","name":"Display setUID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sendUID","targetType":"msg","statusVal":"","statusType":"auto","x":2440,"y":1760,"wires":[]},{"id":"28dfc911.f39766","type":"debug","z":"1bd17114.208f7f","name":"Display DeliveryUID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"deliveryUID","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":1800,"wires":[]},{"id":"f394c4c7.c05e","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Gravity Source","server":"a1b2b06d.089da","channel":"rowData.source.DeliveryPool","clientID":"source1-atomic-01","start":"all","start_option":"","durable":true,"durable_name":"source1-atomic-01","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"25","rate_limit":true,"max_in_flight":"1","x":160,"y":1120,"wires":[["697c97fa.1b2138"]]},{"id":"697c97fa.1b2138","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1220,"wires":[["fcaf454e.703438","58c29ec7.a4ffa8"]]},{"id":"58c29ec7.a4ffa8","type":"debug","z":"1bd17114.208f7f","name":"Debug NAT event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1120,"wires":[]},{"id":"85f76b59.9f60c8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"ACK","x":1290,"y":900,"wires":[]},{"id":"f7c597f4.2795b8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"ACK","x":3010,"y":2080,"wires":[]},{"id":"5a1d672a.d52e78","type":"function","z":"1bd17114.208f7f","name":"Log HTTP Response","func":"\nmsg.result = \"[GRAVITY][ATOMIC] HTTP via Message API success, Delivery DB UID: \" + msg.send_table_uid + \"API setUID: \" + msg.sendUID\nmsg.ResponseMessage = msg.payload\nmsg.ResponseStatus=0\nmsg.SendUID = JSON.parse(msg.payload)[\"Setuid\"]\n\nmsg.payload = {\n    \"code\": 0,\n    \"msg\": msg.result\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1900,"wires":[["d38c299d.762cf","28dfc911.f39766","eacfb53c.9c8eb","2c9233fb.fd9efc"]]},{"id":"e82fa5a.9c179d8","type":"function","z":"1bd17114.208f7f","name":"Check Result","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Delivery via API Server Success, UID:\" + msg.DeliveryPoolUID\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] SMS Delivery via API Server Faulure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":1380,"wires":[["a83f5380.dd3dd8","89312ec5.436ce"]]},{"id":"13ad1895.c4b5a7","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1900,"y":1220,"wires":[["4e109d76.26f76c"]]},{"id":"a83f5380.dd3dd8","type":"switch","z":"1bd17114.208f7f","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2250,"y":1300,"wires":[["13ad1895.c4b5a7"],[]]},{"id":"7cb9964c.de27e8","type":"debug","z":"1bd17114.208f7f","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3220,"y":1800,"wires":[]},{"id":"6e5d7fdc.09a498","type":"function","z":"1bd17114.208f7f","name":"Log HTTP Response","func":"\nmsg.result = \"[[GRAVITY][ATOMIC] HTTP via Message API failure, MSG: \" + msg.payload\nmsg.ResponseMessage = msg.payload\nmsg.ResponseStatus=1\n\nmsg.payload = {\n    \"code\": msg.ResponseStatus,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":2320,"wires":[["6c6fe2cb.c86474","2b0af9e9.d913de","d5432e70.044a78"]]},{"id":"b857c00f.8f4b58","type":"switch","z":"1bd17114.208f7f","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":2760,"wires":[["efb42dca.7e907"],["f3bb67c.d00ab98"]]},{"id":"efb42dca.7e907","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2660,"y":2860,"wires":[["2b0af9e9.d913de"]]},{"id":"3f338f22.4d30d","type":"function","z":"1bd17114.208f7f","name":"Log Write Report DB","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Write SMS Delivery Log to Report DB Success, Delivery UID:\" + msg.DeliveryPoolUID\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Write SMS Delivery Log to Report DB Failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3080,"y":2620,"wires":[["4e824f07.5e5c38","b857c00f.8f4b58","cb29d8eb.5857d"]]},{"id":"b846afcd.53a52","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message) VALUES(@DeliveryPoolUID, @ResponseStatus, @ResponseMessage)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"DeliveryPoolUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ResponseMessage","type":"VarChar(?)","valueType":"msg","value":"ResponseMessage","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ResponseStatus","type":"int","valueType":"msg","value":"ResponseStatus","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2860,"y":2620,"wires":[["3f338f22.4d30d"]]},{"id":"2b0af9e9.d913de","type":"loop","z":"1bd17114.208f7f","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2610,"y":2620,"wires":[[],["b846afcd.53a52"]]},{"id":"4e824f07.5e5c38","type":"debug","z":"1bd17114.208f7f","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3320,"y":2620,"wires":[]},{"id":"6c6fe2cb.c86474","type":"debug","z":"1bd17114.208f7f","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2680,"y":2420,"wires":[]},{"id":"e71170ec.0127a","type":"debug","z":"1bd17114.208f7f","name":"Debug DeliveryPoolUID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"DeliveryPoolUID","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":880,"wires":[]},{"id":"35f19fa6.46a6a","type":"function","z":"1bd17114.208f7f","name":"Log Expired Information","func":"\nmsg.result = \"[GRAVITY][ATOMIC] HTTP via Message API failure, SMS is already expired. Delivery DB UID: \" + msg.DeliveryPoolUID\n\nmsg.payload = {\n    \"code\": 1,\n    \"msg\": msg.result\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":940,"wires":[["f2fbc7f9.c43248","fea35dd1.6db93"]]},{"id":"f2fbc7f9.c43248","type":"debug","z":"1bd17114.208f7f","name":"Display Expired Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":1000,"wires":[]},{"id":"7dd61989.93a4a","type":"http request","z":"1bd17114.208f7f","name":"API Post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://message-api.gfactor.svc.cluster.local/message-api/v1/notification","tls":"","persist":true,"proxy":"","authType":"","x":1660,"y":1680,"wires":[["f899a01d.1d8258","206a78b0.d9321"]]},{"id":"118294b.c72fd6b","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"ACK","x":670,"y":1420,"wires":[]},{"id":"fea35dd1.6db93","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":1830,"y":940,"wires":[]},{"id":"d5432e70.044a78","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":2670,"y":2320,"wires":[]},{"id":"cb29d8eb.5857d","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":3350,"y":2480,"wires":[]},{"id":"9ebd2a20.bf725","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":2990,"y":1740,"wires":[]},{"id":"2c9233fb.fd9efc","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":2170,"y":1700,"wires":[]},{"id":"acd077a.4edb588","type":"redis-in","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"subscribe","name":"","topic":"gravity_db_to_api","obj":true,"timeout":"3","x":170,"y":1520,"wires":[["dec0b9f9.fe26d"]]},{"id":"dec0b9f9.fe26d","type":"debug","z":"1bd17114.208f7f","name":"Debug Redis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1520,"wires":[]},{"id":"89312ec5.436ce","type":"redis-out","z":"1bd17114.208f7f","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_db_to_api","obj":true,"x":2430,"y":1380,"wires":[]},{"id":"57eb400d.058a98","type":"function","z":"1bd17114.208f7f","name":"Set Retry Flag","func":"msg.keep_retry = 0\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":2300,"wires":[["6e5d7fdc.09a498"]]},{"id":"a8e5773b.c5fba8","type":"function","z":"1bd17114.208f7f","name":"Set Retry Flag","func":"msg.keep_retry = 1\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":2400,"wires":[["6e5d7fdc.09a498"]]},{"id":"f3bb67c.d00ab98","type":"switch","z":"1bd17114.208f7f","name":"Check Retry","property":"keep_retry","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3050,"y":2880,"wires":[["cbebbff6.347e5"]]},{"id":"cbebbff6.347e5","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"ACK","x":3250,"y":2880,"wires":[]},{"id":"76cfcd36.2ae08c","type":"delay","z":"1bd17114.208f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1240,"wires":[["10915f53.5494e1"]]}]